@charset "utf-8";

#logo img {
    width: 500px;
    height: 300px;
    margin-left: 500px;
}
#mainvisual img {
    width: 100%;
    margin-bottom: 400px;
}
h2 {
    text-align: center;
    font-size: 130px;
    color: black;
    text-decoration: underline 1px;
    text-underline-offset: 3rem;
    margin-bottom: 250px;
}
#about img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-right: 80px;
}
section#about {
    margin-bottom: 400px;
}
#profile {
    display: flex;
    justify-content: center;
}
#profile div {
    display: block !important;
    justify-content: center;
    /* align-items: center; */
    font-size: xxx-large;
}
#title {
    margin-bottom: 50px;
    font-size: 70px;
}
#bicycle img {
    width: 1000px;
}
#bicycle ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-left: 600px;
    margin-right: 500px;
}
.title {
    text-align: center;
}
ul {
    display: flex;
    justify-content: end;
    font-size: 50px;
    list-style-type: none;
}
p {
    text-align: center;
}
footer {
    margin-top: 800px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}
li {
    margin-right: 100px;
}
/* パソコン、タブレット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*タブレット 縦のみ	*/
@media screen and (max-width: 1024px) and (orientation: portrait){
    
}
/* タブレット 縦から */
@media screen and (max-width: 1024px){
    
}
/* スマホ 横のみ */
@media screen and (max-width: 896px) and (orientation: landscape){
    
}
/* スマホ 横から */ 
@media screen and (max-width: 896px){
    
}
/* スマホ　縦からは */
@media screen and (max-width: 480px){
    
}